[Desktop Entry]
Name=Secret Maryo Chronicles
Comment=Secret Maryo Chronicles
Exec=smc
Icon=smc
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
